* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../../images/Gradient.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topnav {
  position: fixed;
  z-index: 10;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-family: "Inter";
}

.link {
  color: #e5e5cb;
  text-decoration: none;
}

.link {
  position: relative;
  color: #e5e5cb;
  text-decoration: none;
}

.link:hover {
  color: #e5e5cb;
}

.link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e5e5cb;
  transform: scaleX(0);
  transition: transform 0.6s ease;
}

.link:hover::before {
  transform: scaleX(1);
}

.neonText {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #fff, 0 0 82px #fff,
    0 0 92px #fff;
  color: white;
  text-align: center;
}

.heading {
  font-family: "Cinzel Decorative", serif;
  font-size: 70px;
  font-weight: 100;
  z-index: 2;
  color: white;
  text-align: center;
  padding-top: 8%;
}

.instrument {
  text-align: center;
  padding-top: 25px;
  position: relative;
}

.img {
  width: 38%;
}

.button {
  background-color: cadetblue;
  padding: 5px;
  color: white;
  position: absolute;
  border-radius: 50%;
  z-index: 5;
  font-size: 20px;
}

.q {
  right: 65%;
  top: 5%;
}

.w {
  right: 62.1%;
  top: 5%;
}

.e {
  right: 59.5%;
  top: 5%;
}

.r {
  right: 57%;
  top: 5%;
}

.t {
  right: 54.2%;
  top: 5%;
}

.y {
  right: 51.2%;
  top: 5%;
}

.u {
  right: 48.5%;
  top: 5%;
}

.i {
  right: 46.5%;
  top: 5%;
}

.a {
  right: 44%;
  top: 5%;
}

.s {
  right: 42%;
  top: 5%;
}

.d {
  right: 40%;
  top: 5%;
}

.f {
  right: 38%;
  top: 5%;
}

.g {
  right: 36%;
  top: 5%;
}

.h {
  right: 34%;
  top: 5%;
}

.j {
  right: 32.5%;
  top: 5%;
}

.text {
  padding-top: 30px;
  color: #e5e5cb;
  text-align: center;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 83.333% */
}

.text3 {
  padding-top: 20px;
  color: #e5e5cb;
  text-align: center;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 83.333% */
}
