* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../../images/Gradient.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: 10%;
  color: #e5e5cb;
  text-align: center;
  padding: 40px;
  bottom: 0;
  font-family: "Inter";
  bottom: 0;
  width: 100%;
}

.topnav {
  position: fixed;
  z-index: 10;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-family: "Inter";
}

.link {
  color: #e5e5cb;
  text-decoration: none;
  text-transform: uppercase;
}

.link {
  position: relative;
  color: #e5e5cb;
  text-decoration: none;
}

.link:hover {
  color: #e5e5cb;
}

.link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e5e5cb;
  transform: scaleX(0);
  transition: transform 0.6s ease;
}

.link:hover::before {
  transform: scaleX(1);
}

.neonText {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #fff, 0 0 82px #fff,
    0 0 92px #fff;
  color: white;
  text-align: center;
}

.heading {
  font-family: "Cinzel Decorative", serif;
  font-size: 70px;
  font-weight: 100;
  z-index: 2;
  color: white;
  text-align: center;
  padding-top: 10%;
}

.instrument {
  text-align: center;
  padding-top: 30px;
  position: relative;
}

.button {
  background-color: cadetblue;
  padding: 5px;
  color: white;
  position: absolute;
  border-radius: 50%;
  z-index: 5;
  font-size: 20px;
}

.one {
  right: 92%;
  top: 32%;
}

.two {
  right: 87.5%;
  top: 32%;
}

.three {
  right: 78.5%;
  top: 32%;
}

.four {
  right: 74%;
  top: 32%;
}

.five {
  right: 69.5%;
  top: 32%;
}

.six {
  right: 60%;
  top: 32%;
}

.seven {
  right: 55.5%;
  top: 32%;
}

.eight {
  right: 46.7%;
  top: 32%;
}

.nine {
  right: 42%;
  top: 32%;
}

.zero {
  right: 37.4%;
  top: 32%;
}

.q {
  right: 28.2%;
  top: 32%;
}

.w {
  right: 23.5%;
  top: 32%;
}

.e {
  right: 14.5%;
  top: 32%;
}

.r {
  right: 10%;
  top: 32%;
}

.t {
  right: 5.5%;
  top: 32%;
}

.a {
  right: 94%;
  top: 70%;
}

.s {
  right: 90%;
  top: 70%;
}

.d {
  right: 85%;
  top: 70%;
}

.f {
  right: 81%;
  top: 70%;
}

.g {
  right: 76%;
  top: 70%;
}

.h {
  right: 71.8%;
  top: 70%;
}

.j {
  right: 67.3%;
  top: 70%;
}

.k {
  right: 62.5%;
  top: 70%;
}

.l {
  right: 58%;
  top: 70%;
}

.semi-colon {
  right: 53.5%;
  top: 70%;
}

.quotation {
  right: 49%;
  top: 70%;
}

.z {
  right: 44.5%;
  top: 70%;
}

.x {
  right: 39.4%;
  top: 70%;
}

.c {
  right: 35%;
  top: 70%;
}

.v {
  right: 31%;
  top: 70%;
}

.b {
  right: 26%;
  top: 70%;
}

.n {
  right: 21%;
  top: 70%;
}

.m {
  right: 17%;
  top: 70%;
}

.colon {
  right: 13%;
  top: 70%;
}

.stop {
  right: 8%;
  top: 70%;
}

.slash {
  right: 4%;
  top: 70%;
}

.text {
  padding-top: 30px;
  color: #e5e5cb;
  text-align: center;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 83.333% */
}

.text3 {
  padding-top: 50px;
  color: #e5e5cb;
  text-align: center;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 83.333% */
}
