* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../../images/Gradient.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topnav {
  position: fixed;
  z-index: 10;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-family: "Inter";
}

.link {
  color: #e5e5cb;
  text-decoration: none;
}

.neonText {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #fff, 0 0 82px #fff,
    0 0 92px #fff;
  color: white;
  text-align: center;
}

.heading {
  font-family: "Cinzel Decorative", serif;
  font-size: 70px;
  font-weight: 100;
  z-index: 2;
  color: white;
  text-align: center;
  padding-top: 10%;
}

.instrument {
  text-align: center;
  padding-top: 30px;
}
